@model EmptyDB.Models.ResetPasswordModel

<div>
    <h3>Reset password</h3>
    <form method="POST" asp-antiforgery="true">
        <div>
            <input type="hidden" asp-for="@Model.Code" value="@ViewBag.Code"/>
            <input type="hidden" asp-for="@Model.UserID" value="@ViewBag.UserID"/>
            <label asp-for="@Model.Password"></label>
            <input asp-for="@Model.Password"/>
        </div>
        <input type="submit" value="reset password"/>
    </form>
</div>